<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        h1{
            font-style: italic;
            font-weight:bold;
            color:black;
            background-color: red;
            background-clip: border-box;
        }
        .img{
            display: flex;
            gap:50px;
        }
    </style>
</head>
<body>
    <h1>HOME</h1>
    <p>이곳은 홈화면입니다</p>
    <div class="img">
        <img src="https://cdsassets.apple.com/live/7WUAS350/images/ios/locale/ko-kr/ios16-iphone13-pro-widgets-home-screen.png"
        alt="아이폰 홈화면 1">
        <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA3MjdfMjg0/MDAxNTY0MTk5NzQ5MTAy.zZGQ2B8lczyxstB39ndlAiJIpBOXMlKMdzOs-nKntwUg.BJriUj6gzUHWc9VpAndzvBdVteLrqraoy_80VlO9TcEg.JPEG.0128alstj/IMG_1459.jpg?type=w800"
        alt="아이폰 홈화면 2">
    </div>

</body>
</html>